// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.

$spacer: 0.8em;
$primary: #53b55a;
$btn-primary-hover-bg: darken($primary, 10%);
$btn-primary-color: #ffffff; // Белый цвет текста